body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}
.margin-nav {
  margin-right: 2em
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}
nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}
nav a{
    color: #777;
}
#examples-dropdown {
  cursor: pointer;
}

/*************************************
  LOGIN
**************************************/
html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 10% auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/************************
  LOGIN CONTINUED
************************/
.form-signin{
    background: rgb(119, 119, 119);
    border: 2px solid black;
    border-radius: 10%;
}
.form-signin h1{
    color: rgba(0,0,0,.7);
}
body{
    background: rgb(228, 228, 228);
}
.select-users .btn-primary{
    border: 1px solid black;
    border-radius: 50%;
    background: rgb(44, 44, 151)
}
.select-users .btn-custom{
    margin: 2em 2.5em;
    padding: 2em 4em;
}
.select-users{
    width: fit-content;
    margin: 0 auto;
}
.insert{
    color: rgb(212, 212, 212);
}
.insert h1{
    text-align: center;
}
.insert div{
    width: fit-content;
    margin: 0 auto;
}
.insert label{
    font-size: 20px;
}
.insert label, .insert input {
    margin-right: 10px;
}
.insert table{
    width: fit-content;
    margin: 10px auto;
}
.insert table, .insert tr, .insert td, .insert th, .insert tbody, .insert thead {
    padding: 10px;
    border: 3px solid #117a8b;
    border-collapse: collapse;
}
.insert th, .insert td{
    text-align: center;
}
.display-users .display-header{
    display:none;
}
.btn a{
    color: rgb(68, 68, 68);
}

/************************
  DASHBOARD
************************/
.dashboard p{
    font-size: 20px;
}

/************************
  REIMBURSEMENT TABLE
************************/
.reimbursement-table-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.reimbursement-table-container input {
    width: 300px;
    margin-right: 50px;
    display: inline;
    margin-bottom: 2em;
}
/************************
  PROFILE
************************/
.profile-names li, .profile-information li, .profile-textbox-hide li {
    list-style-type: none;
}
.profile-names{
    text-align: right;
}
.profile-information{
    text-align: left;
}
.profile-submit-button-displaynone{
    display: none;
}
.profile-submit-button-display{
    display: inline;
}
.profile-update-button-displaynone{
    display: none;
}
.profile-update-button-display{
    display: inline;
}
.update-textbox-hide{
    display: none;
}
.update-textbox-show{
    display: inline;
}
.update-information-hide{
    display:none;
}
.update-information{
    width: 300px;
}
.profile-names li, .update-information li{
    margin-bottom: 24px;
}